<welcome-directive></welcome-directive>
<div ng-controller='ResetPasswordController as PasswordCtrl'>
  <div ng-show='PasswordCtrl.allowed_access'>
    <h1>Change Password</h1>
    <hr/>
    <form name='form' ng-submit='PasswordCtrl.ResetPassword()'>
      <label name='email'>Enter User Email: </label>
      <input type='email' id='email' ng-model='PasswordCtrl.user.email' required>
      <br/>
      <label name='new_password'>Enter New Password: </label>
      <input type='password' id='new-password' ng-model='PasswordCtrl.user.new_password' required>
      <br/>
      <label name='old_password'>Enter Old Password: </label>
      <input type='password' id='old-password' ng-model='PasswordCtrl.user.old_password' required>
      <br/>
      <input type='submit' value='Reset Password' class='btn btn-info'>
    </form>
  </div>
  <div ng-hide='PasswordCtrl.allowed_access'>
    <strong>Unauthorized!</strong>
  </div>
  <hr/>
</div>
