<welcome-directive></welcome-directive>
<div ng-controller='SignupController as SignupCtrl'>
  <div>
    <h1>Sign Up</h1>
    <hr/>
    <form name='form' ng-submit='SignupCtrl.Signup()'>
      <label name='email'>Enter User Email: </label>
      <input type='email' id='email' ng-model='SignupCtrl.user.email' required>
      <br/>
      <label name='username'>Enter User Name: </label>
      <input type='text' id='username' ng-model='SignupCtrl.user.username' required>
      <br/>
      <label name='password'>Enter Password: </label>
      <input type='password' id='password' ng-model='SignupCtrl.user.password' required>
      <br/>
    </form>
  </div>
  <hr/>
</div>
