<welcome-directive></welcome-directive>
<div ng-controller='TaskController as taskCtrl'>
  <h1>Task Details</h1>
  <hr/>
  <strong>Task Title: </strong> {{taskCtrl.task.title}}
  <div ng-if='taskCtrl.allowed_access'>
    <button name='Delete' ng-click='taskCtrl.DeleteTask()' class='btn btn-danger'>Delete Task</button>
    <hr/>
    <strong>
      Update Task:-
    </strong>
    <form name='form' ng-submit='taskCtrl.UpdateTask()'>
      <br/>
      <label name='title'>Enter Task Title: </label>
      <input type='text' id='title' ng-model='taskCtrl.task.title'>
      <br/>
      <input type='submit' value='Update Task' class='btn btn-warning'>
    </form>
  </div>
</div>
